div#javaCard {
  display: none;
}

div#phpCard {
  display: none;
}

div#cSharpCard {
  display: none;
}

div#rubyCard {
  display: none;
}

div#radio {
  display: block;
}

body {
  background-color: #0ECC3E;
}

.card-img-top {
  background-color: #ffffff;
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

div.card {
  background-color: #A05AFF;
}

.jumbotron {
  background-color: #850EB2;
  color: #FFC13C;
}
